[project]
	description = For review
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cristicheibas
[access "refs/for/refs/*"]
	read = group user/cristicheibas
	push = group user/cristicheibas
	label-Code-Review = -2..+2 group user/cristicheibas
	label-Verified = -1..+1 group user/cristicheibas
	rebase = group user/cristicheibas
	removeReviewer = group user/cristicheibas
	submit = group user/cristicheibas
[access "refs/heads/*"]
	read = group user/cristicheibas
	create = group user/cristicheibas
	push = +force group user/cristicheibas
	pushMerge = group user/cristicheibas
[access "refs/tags/*"]
	push = +force group user/cristicheibas
	pushTag = group user/cristicheibas
	pushSignedTag = group user/cristicheibas
